[Unit]
Description=MagicMirror OS Update Timer
Requires=mm-os-update.service

[Timer]
OnCalendar=*-*-* 02:00:00
Persistent=true

[Install]
WantedBy=timers.target
