[Unit]
Description=MagicMirror Boot Splash Screen
DefaultDependencies=no
After=local-fs.target systemd-vconsole-setup.service
Before=sysinit.target

[Service]
Type=oneshot
ExecStart=/usr/bin/fbi -T 1 -d /dev/fb0 -noverbose -a /opt/splash/splash.png
ExecStartPost=/bin/sleep 3
RemainAfterExit=yes
StandardInput=tty
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=sysinit.target
